body{
  margin:0;
  padding:0;
  background-size:100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Bangers', cursive;
}
img{
  width:100%;
  height:100%
}
.game-wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
/* intro page render when game has not started */
.page-intro{
  width:100%;
  height:100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-img-box{
  width:100%;
  height:530px;
  animation:fadeInOut 10s infinite;
}

.title-img{
  width:100%;
  height:100%
}
.title{
  background:red;
  width:100%;
  flex:1;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  display: flex;
}
/* end intro page */

.flex-playerbot-row{
  display: flex;
  justify-content: center;
  width:100%;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
}
.playerbot-character-box{
  height:210px;
  width: 200px;
  border: 1px solid red;
}
/* play game button */
.btn-danger{
  font-size: 35px;
  font-family: 'Bangers', cursive;
  background:red;
}
.btn-danger:hover{
  cursor: pointer;
  background:rgb(190, 186, 186);
}
.btn-danger:active{
  cursor: wait;
}
/* vs button */
.compare-btn {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  height:10%;
  width:10%;
  font-family: 'Bangers', cursive;
  font-size: 30px;
  background:rgba(255,255,255,0);
  color:white;
  border:1px solid white;
}
.compare-btn:hover{
  background:white;
  color:black;
  cursor: pointer;
  z-index:20;
}
/* row and box for top and bottom */
.deck-holder-row{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex:1;
}
.deck-holder-box{
 height: 210px;
 width: 200px;
 border: 1px solid red;
 align-self: center;
}
/* game middle area */
.game-middle-row{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px 0;
}
.middle-card-boxes{
  height: 210px;
  width: 200px;
  border: 1px solid red;
}
.middle-good{
  border: 1px solid blue;
}
.third {
  box-shadow: 0px 0px 10px 7px rgb(0, 255, 13), 0px 0px 10px 7px #fcfcfc;
}
/* end middle area */
.bad-guys{
  overflow: hidden;
}
.deck{
  background:black;
  background-image: url(http://is3.mzstatic.com/image/thumb/Purple122/v4/e1/3d/55/e13d55bd-f063-3a76-6560-6a49c48fb007/source/1200x630bb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 8px;
}
.deck:hover{
  cursor: pointer;
}
/* winning message on value compare */
.display-message{
  position: absolute;
  display: flex;
  width:100%;
  justify-content: center;
  font-size: 40px;
  top:27%
}
.display-message h2{
  animation:colorchange .5s infinite alternate;
  -webkit-animation:colorchange .5s infinite alternate
}

@keyframes colorchange {
  0% {
    color: rgb(12, 12, 12);
  }
  40%{
    color: rgb(12, 12, 12);    
  }
  50% {
    color: #0ffa07;
  }
  100% {
    color: #0ffa07;
  }
}
/* playing card setup */
.playingcard-box{
  animation:1s ease-out 0s slideInFromLeft;      
  border: 14px solid black;
  width: 80%;
  margin: 0 auto;
  border-radius: 4%;
  height: 178px;
  position: relative;
  overflow: hidden;
}
.character-name{
  margin:0;
  padding: 0;
  text-align: center;
  color:black;
  font-weight:bold;
  font-size: 20px;
  background: rgb(11, 243, 11);
}
.value{
  position: absolute;
  bottom:0;
  right:0;
  padding:8%;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  color:rgb(11, 243, 11);
  background: black;
}
/* playing card classes toggleing animation */
.one{
  animation:2s ease-in 0s fadeIn;
  border: 14px solid black;
  width: 80%;
  margin: 0 auto;
  border-radius: 4%;
  height: 178px;
  position: relative;
  overflow: hidden;
}
.two{
  animation:3s ease-in 0s fadeIn;
  border: 14px solid black;
  width: 80%;
  margin: 0 auto;
  border-radius: 4%;
  height: 178px;
  position: relative;
  overflow: hidden;
}
.three{
  animation:2s ease-in 0s slideInFromLeft;
  border: 14px solid black;
  width: 80%;
  margin: 0 auto;
  border-radius: 4%;
  height: 178px;
  position: relative;
  overflow: hidden;
}
@keyframes fadeInOut{
  0% {
    opacity:1
  }
 50%{
   opacity:0.9

 }
  100%{
    opacity:1
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0.01;
  }
  100%{
    opacity:1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity:0.01;
  }
  100% {
    transform: translateX(0);
    opacity:1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.01;
  }
}

/* end of playing card setup */

